body {
	background-color:#444;
	font-family: verdana, arial;
	color: #fff;
	font-size:18px;
	min-width:320px;
}

.float {
	float: left;
}
.is-bold {
	font-weight: bold;
}

.is-hidden {
	display: none;
}

.is-dummy {
	color: red;
	background-color: pink;
}

.has-border {
	border: dashed 1px white;
}

/* ***** */

.inbox {
	background-color: #58a;
	color: #fff;
}
.inbox .unread {
	background-color: blue;
}


pre, blockquote {
	-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-radius:10px 10px 10px 10px;
	border-radius:10px 10px 10px 10px;
	background-color:#000;
	margin:15px 0;
	padding:15px;
}

pre, code {
	font-family:monospace;
	font-size:16px;
}
